{% load staticfiles %}
<div class="row">
    <div class="col-md-12 text-center">
        <header class="text-center element-tall-top element-medium-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
            <h1 class="bigger hairline bordered-normal">
                123 — это облачный сервис видеонаблюдения через Интернет.
            </h1>
        </header>
        <a href="contact-big-map.html" class="btn btn-primary btn-lg element-short-top element-normal-bottom os-animation" target="_self" data-os-animation="fadeInUp" data-os-animation-delay="0s">
            Зарегистрироваться
        </a>
    </div>
</div>