{% load staticfiles %}
<div class="col-md-12">
    <div class="row " data-os-animation="" data-os-animation-delay="">
        <div class="col-md-3 ">
            <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".0s">
                <div class="box box-round box-medium box-simple">
                    <div class="box-dummy"></div>
                    <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                        <img class="" src="{% static 'assets/images/icons/indicator-512w.png'%}" alt="a clock" />
                    </div>
                </div>
                <h3 class="normal bold bordered bordered-small ">
                    Легкое подключение камеры
                </h3>

                <p>Подключите камеру к сети Интернет, зарегистрируйте ее в личном кабинете <b>video cloud </b> и все,
                    можете приступать к просмотру</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".9s">
                <div class="box box-round box-medium box-simple">
                    <div class="box-dummy"></div>
                    <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                        <img class="" src="{% static 'assets/images/icons/map-512w.png'%}" alt="a clock" />
                    </div>
                </div>
                <h3 class="normal bold bordered bordered-small ">
                    Просматривайте из любой точки планеты
                </h3>
                <p class="">Просматривайте видео со своих камер наблюдения с помощью WEB-приложения на ПК или на мобильных устройствах</p>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                <div class="box box-round box-medium box-simple">
                    <div class="box-dummy"></div>
                    <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                        <img class="" src="{% static 'assets/images/icons/gift-512w.png'%}" alt="a gift" />
                    </div>
                </div>
                <h3 class="normal bold bordered bordered-small ">
                    Безопасное соединение
                </h3>

                <p>Подключение к личному кабинету облачного сервиса <b>video cloud </b> осуществляется с помощью
                    защищенного соединения https</p>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="element-medium-top element-medium-bottom text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                <div class="box box-round box-medium box-simple">
                    <div class="box-dummy"></div>
                    <div class="box-inner grid-overlay-0" style="background-color:#353b42;">
                        <img class="" src="{% static 'assets/images/icons/lifebuoy-512w.png'%}" alt="a support" />
                    </div>
                </div>
                <h3 class="normal bold bordered bordered-small ">
                    Камеры для любых задач
                </h3>

                <p>Облачный сервис video cloud поддерживает широкий ассортимент камер для любых задач с различным
                    функционалом</p>
            </div>
        </div>
    </div>
</div>