{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <header class="text-center element-tall-top element-no-bottom os-animation condensed" data-os-animation="fadeIn" data-os-animation-delay="0s">
            <h1 class="bigger hairline bordered bordered-normal">
                Немного о нашем сервисе
            </h1>
        </header>
    </div>
    <div class="col-md-6">
        <div class="figure element-short-top element-short-bottom os-animation image-filter-none image-filter-onhover text-center figcaption-middle normalwidth" data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                                    <span class="figure-image">
                    <img src="{% static 'assets/images/uploads/image-40-devices.png' %}" alt="" class="normalwidth">
                </span>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="features-list element-tall-top element-no-bottom features-dark" data-linecolor="" data-os-animation="none" data-os-animation-delay="0s">
            <li class="element-no-top element-short-bottom os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                <div class="features-list-icon">
                    <img src="{% static 'assets/images/icons/eye-512w.png' %}" alt="Eye Icon" class="">
                </div>
                <p>
                    С сервисом облачного видеонаблюдения <b> video cloud </b> Вы всегда сможете осуществлять
                    видеонаблюдение через Интернет в режиме онлайн, с Вашей камеры, из любой точки планеты. Если вас
                    интересует момент, который происходил некоторое время назад, Вы можете выбрать интересующий Вас
                    отрезок времени в архиве записей и скачать его на свой персональный компьютер. Для экономии времени,
                    в поиске непосредственного действия в кадре, Вы можете воспользоваться графиком активности.
                </p>
            </li>

        </ul>
    </div>
</div>