{% load staticfiles %}
<ul>
    <li data-transition="fade" data-slotamount="4">
        <img src="{% static 'assets/images/uploads/rev-slider-bg2.png' %}" data-kenburns="on" data-bgposition="left bottom" data-bgpositionend="center bottom" data-bgfit="110" data-bgfitend="100" data-duration="7000" data-ease="Power4.easeOutCubic">
        <div class="tp-caption sfl" data-x="80" data-y="70" data-speed="800" data-start="900" data-easing="easeInBack">
            <img src="{% static 'assets/images/uploads/slide-1-dev-2.png' %}">
        </div>
        <div class="tp-caption sfr" data-x="120" data-y="70" data-speed="800" data-start="1500" data-easing="easeInBack">
            <img src="{% static 'assets/images/uploads/slide-1-dev-3.png' %}">
        </div>
        <div class="tp-caption sfb" data-x="100" data-y="60" data-speed="1200" data-start="2000" data-easing="easeInBack">
            <img src="{% static 'assets/images/uploads/slide-1-dev-center.png' %}">
        </div>
        <div class="tp-caption sfl bigger hairline" data-x="100" data-y="180" data-speed="1200" data-start="1800" data-easing="easeInBack" style="color: #fff;">
            Просматривайте
        </div>
        <div class="tp-caption sfl bigger hairline" data-x="100" data-y="230" data-speed="1200" data-start="2100" data-easing="easeInBack" style="color: #fff;">
            где угодно
        </div>
    </li>
    <li data-transition="boxslide" data-slotamount="4">
        <img src="{% static 'assets/images/uploads/rev-slider-bg2.png' %}" data-kenburns="on" data-bgposition="left bottom" data-bgpositionend="center bottom" data-bgfit="110" data-bgfitend="100" data-duration="7000" data-ease="Power4.easeOutCubic">
        <div class="caption sfl" data-x="80" data-y="40" data-speed="600" data-start="1500" data-easing="easeInBack">
            <img src="{% static 'assets/images/uploads/slide-2-dev-center.png' %}">
        </div>
        <div class="caption sfr" data-x="-100" data-y="40" data-speed="600" data-start="2000" data-easing="easeInBack">
            <img src="{% static 'assets/images/uploads/slide-1-dev-2.png' %}">
        </div>
        <div class="caption sfl" data-x="-100" data-y="40" data-speed="600" data-start="1500" data-easing="easeInBack">
            <img src="{% static 'assets/images/uploads/ipad_landscape.jpeg' %}">
        </div>
        <div class="caption sfb stt super hairline" data-x="750" data-y="180" data-speed="400" data-endspeed="400" data-start="2000" data-easing="easeInBack" style="color:#fff">
            Просматривайте
            <br>
            с любого устройства
        </div>

    </li>
</ul>