
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/color-defaults.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/swatch-white.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/swatch-blue.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/swatch-gray.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/swatch-black.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/swatch-white-black.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/swatch-white-green.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/swatch-white-red.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/fonts.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/revolution.min.css' %}" media="screen">
    {% block load_staticfile %}{%endblock%}
    <script type="text/javascript" src="{% static 'assets/js/jquery.js'%}"></script>
</head>
<body class="normal-header">
<div id="masthead" class="navbar navbar-static-top swatch-white navbar-sticky" role="banner">
    {% include 'nav-bar.html'%}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<footer id="footer" role="contentinfo">
    {% include 'footer.html'%}
</footer>
 {% load staticfiles %}
<script type="text/javascript" src="{% static 'assets/js/packages.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/theme.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/revolution.js' %}"></script>


</body>
</html>