{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}

    <article>
        <section class="section swatch-black  section-text-shadow section-inner-shadow">
            <div class="background-media"
                 style="background-image: url('{% static 'assets/images/contacts/background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 44%;"
                 data-start="background-position:"
                 data-70-top-bottom="background-position:">
            </div>
            <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-center  element-medium-top element-medium-bottom not-condensed os-animation"
                                data-os-animation="fadeIn" data-os-animation-delay=".4s" data-70-top-bottom="opacity:0"
                                data-start="opacity:1" data-center="opacity:1">
                            <h1 class="super hairline bordered-normal">
                                Контакты
                            </h1>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        <section id="two" class="section swatch-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header class="text-center element-normal-top element-medium-bottom condensed os-animation"
                                data-os-animation="fadeInUp" data-os-animation-delay="0s">
                            <h2 class="figure-caption-title bordered bordered bordered-link">
                                <P style="color:#82C9ED"> Обратная связь</P>
                            </h2>

                        </header>
                    </div>
                </div>
                <div class="container content">
                    <div class="row margin-bottom-30">
                        <!-- Contacts -->
                        <div class="col-md-16">
                            <!-- Business Hours -->

                            <div class="col-md-8 text-left small-screen-center os-animation element-normal-bottom"
                                 data-os-animation="fadeInRight" data-os-animation-delay="0.3s">
                                <form id="contactForm" class="contact-form">
                                    <div class="form-group form-icon-group">
                                        <input class="form-control" id="name" name="name" placeholder="Ваше имя *"
                                               type="text" required/>
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="form-group form-icon-group">
                                        <input class="form-control" id="email" name="email" placeholder="Ваш Е-майл *"
                                               type="email" required>
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="form-group form-icon-group">
                                        <textarea class="form-control" id="message" name="message"
                                                  placeholder="Сообщение" rows="10" required></textarea>
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    <div>
                                        <input type="submit" value="Отправить" class="btn btn-primary">
                                    </div>
                                    <div id="messages"></div>
                                </form>
                            </div>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="figure-caption-title bordered bordered bordered-link">
                                    <h2 style="color:#82C9ED">Контакты</h2>
                                </div>
                                <ul class="list-unstyled who margin-bottom-30">
                                    <li><p href="#"><i class="fa fa-phone"></i> 55-59-54</p></li>
                                    <li><p href="#"><i class="fa fa-globe"></i> http://video_cloud.com</p></li>
                                </ul>

                                <!-- Business Hours -->
                                <div class="figure-caption-title bordered bordered bordered-link">
                                    <h2 style="color:#82C9ED">Реквизиты</h2>
                                </div>
                                <ul class="list-unstyled margin-bottom-30">
                                    <li>ООО «Video cloud»</li>
                                    <li>ИНН - 6568986856</li>
                                    <li>ОГРН - 67867575875</li>
                                    <li>Юр. адрес - 429566 г. Чебоксары ул. Николаева . д.72</li>
                                    <li>Факт. адрес - 429566 г. Чебоксары ул. Николаева. д.72</li>
                                </ul>
                            </div>
                            <!--/col-md-3--><!--/row-->
                        </div>
                    </div>
        </section>
        <section class="section swatch-black  section-text-shadow section-inner-shadow">
            <div class="background-media"
                 style="background-image: url('{% static 'assets/images/contacts/background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 44%;"
                 data-start="background-position:"
                 data-70-top-bottom="background-position:">
            </div>
            <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-center element-normal-top element-short-bottom condensed os-animation"
                                data-os-animation="fadeIn" data-os-animation-delay=".4s" data-70-top-bottom="opacity:0"
                                data-start="opacity:1" data-center="opacity:1">

                        </header>
                    </div>
                </div>
            </div>
        </section>
    </article>

{% endblock %}
