{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Помощь
{% endblock %}
{% block content %}
    <article>
        <section class="section swatch-black  section-text-shadow section-inner-shadow">
            <div class="background-media"
                 style="background-image: url('{% static 'assets/images/helps/background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 44%;"
                 data-start="background-position:"
                 data-70-top-bottom="background-position:">
            </div>
            <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-center  element-medium-top element-medium-bottom not-condensed os-animation"
                                data-os-animation="fadeIn" data-os-animation-delay=".4s" data-70-top-bottom="opacity:0"
                                data-start="opacity:1" data-center="opacity:1">
                            <h1 class="super hairline bordered-normal">
                                Помощь
                            </h1>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        <section class="section swatch-white ">

            <div class="container">
                <div class="row">
                    <div class="col-md-16 text-left">


                        <header class="text-center element-normal-top  ">
                            <h2 class="figure-caption-title bordered bordered bordered-link">
                                <p style="color:#82C9ED"> Часто задаваемы вопросы </p>
                            </h2>
                        </header>

                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-10">
                                <div id="accordion_836"
                                     class="panel-group  element-short-top element-short-bottom os-animation"
                                     data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                                    <div>

                                        <div class="panel-heading">
                                            <a href="#group_1" data-toggle="collapse"> Как начать пользоваться
                                                сервисом?</a>
                                        </div>
                                        <div id="group_1" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                                     data-os-animation-delay="0s">
                                                    <p>


                                                        1. Настройка сервиса Video cloud на моделях RVi-IPC11,
                                                        RVi-IPC12,
                                                        RVi-IPC33M, RVi-IPC33V, RVi-IPC41, RVi-IPC41DNL, RVi-IPC42,
                                                        RVi-IPC43, RVi-IPC43M3, RVi-IPC43DNS, RVi-IPC22DN NEW.<br>
                                                        2. Настройка сервиса Video cloud на моделях RVi-IPC11S,
                                                        RVi-IPC12SW, RVi-IPC31S, RVi-IPC32S, RVi-IPC41LS, RVi-IPC42LS,
                                                        RVi-IPC31MS-IR, RVi-IPC32MS-IR.

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="panel-heading">
                                            <a href="#group_2" data-toggle="collapse">Какие камеры поддерживаются
                                                сервисом?</a>
                                        </div>
                                        <div id="group_2" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                                     data-os-animation-delay="0s">
                                                    <p> Полный список камер поддерживаемых сервисом вы можете найти на
                                                        странице <a href="/#">камеры</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="panel-heading">
                                            <a href="#group_3" data-toggle="collapse">Требуется ли статический IP-адрес
                                                для пользования сервисом Video cloud?</a>
                                        </div>
                                        <div id="group_3" class="panel-collapse collapse ">
                                            <div class="panel-body">
                                                <div class=" element-no-top element-no-bottom" data-os-animation="none"
                                                     data-os-animation-delay="0s">
                                                    <p>Для использования сервиса облачного видеонаблюдения Video cloud
                                                        статический IP-адрес не требуется.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </section>
        <section class="section swatch-black  section-text-shadow section-inner-shadow">
            <div class="background-media"
                 style="background-image: url('{% static 'assets/images/helps/background.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 44%;"
                 data-start="background-position:"
                 data-70-top-bottom="background-position:">
            </div>
            <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <header class="text-center element-normal-top element-short-bottom condensed os-animation"
                                data-os-animation="fadeIn" data-os-animation-delay=".4s" data-70-top-bottom="opacity:0"
                                data-start="opacity:1" data-center="opacity:1">

                        </header>
                    </div>
                </div>
            </div>
        </section>
    </article>

{% endblock %}
