{% load staticfiles%}
<div class="topbar container">
    <ul class="user-menu nav navbar-nav navbar-right">
        <li><a href="">Зарегистрироваться</a></li>
        <li class="topbar-devider">|</li>
        {% if username %}
        <li><a href=""> Выйти ({{username}})</a></li>
        {% else %}
        <li><a href=""> Войти</a></li>
        {% endif %}
    </ul>
</div>

<div class="container">
    <div class="navbar-header">
        <a href="index.php?id=1" class="navbar-brand">
            <img src="{% static 'assets/images/omega.png' %}" alt="Иконка компании">компания
        </a>
    </div>

    <nav class="collapse navbar-collapse main-navbar" role="navigation">

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown menu-item-object-oxy_mega_menu ">
                <a href="{% url 'index' %}" class="dropdown-toggle">Главная</a>
            </li>
            <li class="dropdown">
                <a href="{% url 'cameras' %}" class="dropdown-toggle">Камеры</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Помощь</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Контакты</a>
            </li>
        </ul>
    </nav>
</div>