{% extends "base.html"%}
{% load staticfiles %}
{% block load_staticfile%}
<!--<link rel="stylesheet" type="text/css" href="{% static 'assets/css/pricing.css' %}" />-->
{%endblock%}
{% block title %}
Тарифы
{% endblock %}
{% block content %}
            <article>
         
              
          <section class="section swatch-black  section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('{% static 'assets/images/pricing/background.jpg'%}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 44%;" data-start="background-position:"
             data-70-top-bottom="background-position:">
        </div>
        <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center  element-medium-top element-medium-bottom not-condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s" data-70-top-bottom="opacity:0" data-start="opacity:1" data-center="opacity:1">
                        <h1 class="super hairline bordered-normal">
                           Наши тарифы
                        </h1>
                    </header>
                </div>
            </div>
        </div>
    </section>
                        <div class="row ">
                            <div class="col-md-3 ">
                                <div class="element-short-top element-short-bottom pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                    <h2 class="pricing-head" style="background: #ffffff; color:#333333">Онлайн <br> (Online)</h2>
                                    <div class="pricing-body" style="background: #ffffff; color:#333333">
                                        <div class="pricing-price">
                                            <h4 style="background: #86b2b8; color: #ffffff;">

                            <small style="color: #ffffff;"></small>
                              0  
                            <small style="color: #ffffff;"></br></br><i class="fa fa-rouble"></i></small><br>

             <small style="color: #ffffff;">в месяц *</small>
                        </h4>
                        

                                        </div>
                                     <ul class="pricing-list" >
                                            <li style="border-color: rgba(51,51,51,0.1)" > <i class="fa fa-gift"></i>  Он-лайн просмотр </li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-globe"></i> Без архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-cloud-upload"></i> Экспорт архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-spinner"></i> Битрейт 1 Мбит/c</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-laptop"></i>Разрешение записи HD 720P</li>

                                        </ul>

                                        <a href="" class="btn btn-lg" style="background: #86b2b8; color: #ffffff;">Зарегистрироваться</a>

                                    </div>
                                </div>

                            </div>


                            <div class="col-md-3 ">
                                <div class="element-short-top element-short-bottom pricing-col pricing-featured os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <h2 class="pricing-head" style="background: #ffffff; color:#333333">Стандарт<br>(Standart)</h2>
                                    <div class="pricing-body" style="background: #ffffff; color:#333333">
                                        <div class="pricing-price">
                                            <h4 style="background: #f7b487; color: #ffffff;">
                                <small style="color: #ffffff;"></small>
                                    300
                                <small style="color: #ffffff;"><i class="fa fa-rouble"></i></small><br>

             <small style="color: #ffffff;">в месяц *</small>
                      
                            </h4>
                                        </div>
                                         <ul class="pricing-list" >
                                            <li style="border-color: rgba(51,51,51,0.1)" > <i class="fa fa-gift"></i>  Он-лайн просмотр </li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-globe"></i> 1 неделя архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-cloud-upload"></i> Экспорт архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-spinner"></i> Битрейт 1 Мбит/c</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-laptop"></i>Разрешение записи HD 720P</li>

                                        </ul>

                                        <a href="" class="btn btn-lg" style="background: #f7b487; color: #ffffff;">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <div class="element-short-top element-tall-bottom pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                    <h2 class="pricing-head" style="background: #ffffff; color:#333333">Оптимум <br>(Optimum)</h2>
                                    <div class="pricing-body" style="background: #ffffff; color:#333333">
                                        <div class="pricing-price">
                                            <h4 style="background: #c6cf9b; color: #ffffff;">
                            <small style="color: #ffffff;"></small>
                                400
                            <small style="color: #ffffff;"><i class="fa fa-rouble"></i></small><br>

             <small style="color: #ffffff;">в месяц *</small>
                        </h4>
                                        </div>
                                         <ul class="pricing-list" >
                                            <li style="border-color: rgba(51,51,51,0.1)" > <i class="fa fa-gift"></i>  Он-лайн просмотр </li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-globe"></i> 2 неделя архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-cloud-upload"></i> Экспорт архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-spinner"></i> Битрейт 1 Мбит/c</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-laptop"></i>Разрешение записи HD 720P</li>

                                        </ul>
                                        <a href="" class="btn btn-lg" style="background: #c6cf9b; color: #ffffff;">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </div>
<div class="col-md-3 ">
                                <div class="element-short-top element-short-bottom pricing-col pricing-featured os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    <h2 class="pricing-head" style="background: #ffffff; color:#333333">Стандарт<br>(Standart)</h2>
                                    <div class="pricing-body" style="background: #ffffff; color:#333333">
                                        <div class="pricing-price">
                                            <h4 style="background: #F5A8D8; color: #ffffff;">
                                <small style="color: #ffffff;"></small>
                                    500
                                <small style="color: #ffffff;"><i class="fa fa-rouble"></i></small><br>

             <small style="color: #ffffff;">в месяц *</small>
                            </h4>
                                        </div>
                                        <ul class="pricing-list" >
                                            <li style="border-color: rgba(51,51,51,0.1)" > <i class="fa fa-gift"></i>  Он-лайн просмотр </li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-globe"></i> 4 неделя архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-cloud-upload"></i> Экспорт архива</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-spinner"></i> Битрейт 1 Мбит/c</li>
                                            <li style="border-color: rgba(51,51,51,0.1)"> <i class="fa fa-laptop"></i>Разрешение записи HD 720P</li>

                                        </ul>

                                        <a href="" class="btn btn-lg" style="background: #F5A8D8 ; color: #ffffff;">Зарегистрироваться</a>
                                    </div>
                                </div>
                            </div>
                        </div>
<p align="left" style="font-size: 20px;">* Цены указаны в рублях за одну камеру.</p>
                    </div>    
<section class="section swatch-black  section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('{% static 'assets/images/pricing/background.jpg'%}'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 44%;" data-start="background-position:"
             data-70-top-bottom="background-position:">
        </div>
        <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center element-normal-top element-short-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s" data-70-top-bottom="opacity:0" data-start="opacity:1" data-center="opacity:1">

                    </header>
                </div>
            </div>
        </div>
    </section>       
            </article>
       {% endblock %}
